<h1> Hi,
    <%= user.name %>, your appointments</h1>;


<% for(i=0; i<user.appointmentsBooked.length; i++) {%>


    <div class="card" style="width: 100">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-muted">Doctor:
                <%= user.appointmentsBooked[i].doctor.familyName %>
                    <%=user.appointmentsBooked[i].doctor.name%>
            </h6>
            <p class="card-text">
                Date:
                <%=moment(user.appointmentsBooked[i].date).format ("ddd, DD MMM YYYY")%>

                    <br> Hour:
                    <%=moment(user.appointmentsBooked[i].date).format ("HH")%>.00
            </p>

            <p class="card-text">
                Address:
                <%= user.appointmentsBooked[i].address.street %>,
                    <%= user.appointmentsBooked[i].address.zipCode %>,
                        <%= user.appointmentsBooked[i].address.city %>,

            </p>



            <a href="#" class="card-link">Delete the appointment</a>

            <br>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Leave a comment</button>


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New review</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <form method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="date" class="col-form-label">Date:</label>
                                    <input type="date" class="form-control" id="date" name="date">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Review:</label>
                                    <textarea class="form-control" id="message-text" name="review"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="rate" class="col-form-label">Rate:</label>
                                    <input type="number" class="form-control" id="date" name="rate">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Send review</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <br>
    <br>


    <% }%>