<h1> Hi,
    <%= user.name %>, you just book an appointment</h1>;



<div class="card" style="width: 100">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <h6 class="card-subtitle mb-2 text-muted">

            <%= doctor.familyName %>
                <%=doctor.name%>
        </h6>
        <p class="card-text">
            Date:
            <%=moment(appointment.date).format ("ddd, DD MMM YYYY")%>

                <br> Hour:
                <%=moment(appointment.date).format ("HH")%>.00
        </p>

        <p class="card-text">
            Address:
            <%= doctor.address[0].street %>,
                <%= doctor.address[0].zipCode %>,
                    <%= doctor.city %>,

        </p>
        <form method="POST">
            <input type="text" name="appointmentId" value="<%=appointment._id%>" />
        </form>


        <a href="#" class="card-link">Delete the appointment</a>

        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Leave a comment</button>



    </div>
</div>
<br>
<br>