<pre><%= JSON.stringify(user, null, 4) %></pre>

<h1> Hi,
    <%= user.name %>, your appointments</h1>

<br>
<br>

<% for(i=0; i<user.appointmentsBooked.length; i++) {%>


    <div class="card" style="width: 100">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <h4 class="card-subtitle mb-2 text-primary">Doctor:
                <%= user.appointmentsBooked[user.appointmentsBooked.length-i-1].doctor.familyName %>
                    <%= user.appointmentsBooked[user.appointmentsBooked.length-i-1].doctor.name %>
            </h4>
            <p class="card-text">
                Date:
                <%=moment(user.appointmentsBooked[user.appointmentsBooked.length-i-1].date).format ("ddd, DD MMM YYYY")%>

                    <br> Hour:
                    <%= user.appointmentsBooked[user.appointmentsBooked.length-i-1].hour%>
            </p>

            <p class="card-text">
                Address:
                <%= user.appointmentsBooked[user.appointmentsBooked.length-i-1].address.street %>,
                    <%= user.appointmentsBooked[user.appointmentsBooked.length-i-1].address.zipCode %>,
                        <%= user.appointmentsBooked[user.appointmentsBooked.length-i-1].address.city %>,

            </p>

            <p class="card-text">
                Price:
                <%= user.appointmentsBooked[user.appointmentsBooked.length-i-1].doctor.prices.price %> euros


            </p>
            <br>


            <form action="/users/appointments/delete" method="POST">
                <input type="hidden" name="appointmentId" value="<%= user.appointmentsBooked[user.appointmentsBooked.length-i-1]._id %>"
                />
                <button type="submit" class="btn btn-primary">Delete the appointment</button>
            </form>
            <br>
            <br>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Leave a comment</button>


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New review</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <form method="POST">
                            <input type="hidden" name="appointmentId" value="<%= user.appointmentsBooked[user.appointmentsBooked.length-i-1]._id %>"
                            />
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="date" class="col-form-label">Date:</label>
                                    <input type="date" class="form-control" id="date" name="date">
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Review:</label>
                                    <textarea class="form-control" id="message-text" name="review"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="rate" class="col-form-label">Rate:</label>
                                    <input type="number" class="form-control" id="date" name="rate">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Send review</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <br>
    <br>


    <% }%>