<h1> You have just booked an appointment</h1>
<p>You will soon receive an email with the confirmation</p>
<br>
<br>
<div class="card" style="width: 100">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <h4 class="card-subtitle mb-2 text-primary">

            <%= doctor.familyName %>
                <%=doctor.name%>
        </h4>
        <p class="card-text">

            <% if (user.appointmentsBooked.length===0) { %>
                Date:
                <%=moment(user.appointmentsBooked[user.appointmentsBooked.length-1].date).format ("ddd, DD MMM YYYY")%>

                    <br> Hour:
                    <%= user.appointmentsBooked[user.appointmentsBooked.length-1].hour%>.00

                        <%} else { %>
                            Date:
                            <%=moment(user.appointmentsBooked[user.appointmentsBooked.length-1].date).format ("ddd, DD MMM YYYY")%>

                                <br> Hour:
                                <%= user.appointmentsBooked[user.appointmentsBooked.length-1].hour%>.00
                                    <%}%>
        </p>

        <p class="card-text">
            Address:
            <%= doctor.address[0].street %>,
                <%= doctor.address[0].zipCode %>,
                    <%= doctor.city %>,

        </p>